/* font-import */
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fnts/Montserrat/Montserrat-SemiBold.woff2') format('truetype');
  font-style: normal;
}

/* Setup */
:root {
  --bg: #121212;
  --text: #e0e0e0;
  --layout-bg: #1e1e1e;
  --a: #4fc3f7;
  --a-hover: #fc3434;

}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background: var(--bg);
  color:var(--text)
}

/* Link */
a {
  color: var(--a);
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
a::after { content: "↗"; margin-left: 5px; }
a::before {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  width: 0; height: 2px;
  background: var(--a-hover);
  transition: width 0.3s;
}
a:hover { color: var(--a-hover); }
a:hover::before { width: 100%; }

/* Layout */
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--layout-bg);
}

nav {
  display: none;
}

main {
  flex: 1;
  margin: 2rem 1.5rem;
}

section {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background: var(--layout-bg);
  border-radius: 1.5rem;
}

footer {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #PC */
@media screen and (min-width: 769px) {
  body { font-size: 2.5rem; }

  section {
    max-width: 60rem;
    margin: 0 auto 1.5rem;
  }

  header {
    justify-content: space-between;
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
    width: 95%;
    border-radius: 1.5rem;

  }

  nav {
    display: block;
  }

}
