/* #N - font-import */

/* #0 - Setup */
:root {
    /* body colors */
    --bg: #16161d;
    --fg: #e0e0e3;

    /* header & footer colors */
    --layout-bg: #1e1e25;
    --layout-fg: #cfcfd4;

    --card: #23232B;
    --h: #e0e0e0;

    --a: #4fc3f7;

    --code-bg: #1a1a22;

}

* { /* html */
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

section { /* card-styles */
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    gap: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
}

/* #0.1 - Header-text */
h2, h3 {
    color: var(--h);
}

/* #0.2 - link, button */

a {
    cursor: pointer;
    color: var(--a);
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

a::after {
    content: "\2197"; /* mũi tên ↗ */
    margin-left: 5px;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #29b6f6;
    transition: width 0.3s;
}

a:hover::before {
    width: 100%;
}

button {
    all: unset
}

/* #0.3 - list */

ul {
    list-style: none;
}

/* #1 - header, nav, hamburger, main, footer */

header {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: var(--card);
    color: var(--layout-fg);
    padding: 1rem 1.5rem 1rem 1rem;
    border-radius: 0 0 30px;
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--layout-bg);
    color: var(--layout-fg);
    min-height: 3rem;
    max-height: 4.5rem;
    justify-content: end;
    align-items: center;
    padding: 0 1.5rem 0 0;
    font-size: 2rem;
}

main { margin: 1.7rem 0.8rem 3.2rem; }

footer{
    background-color: var(--layout-bg);
    color: var(--layout-fg);
    width: 100%;
    padding: 1rem 0 1rem;
    border-radius: 20px 20px 0 0;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* #2 - content */

/* For projects */
pre {
    background-color: var(--code-bg);
    font-size: clamp(6px, 1.5vw, 16px);
    overflow-x: hidden;
    white-space: pre;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 0.4rem;
    border-radius: 16px;
}